.post {
	text-align: left;
	padding: 10px;
	width: 420px;
	background: #f3f3f3;
	border-radius: 8px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-top: 20px;
}

.info {
	margin-top: 7px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	&:nth-child(1) {
		margin-top: 0;
	}
	span {
		color: #a3a3a3;
	}
}

.link {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	color: #4b51ef;
	text-decoration: none;
}
